body, html{
  background-image:url(../assets/coolHue-FFDB01-0E197D.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-image:url(../assets/coolHue-92FFC0-002661.png);
  background-size: cover;
  background-repeat: no-repeat;  
  height: 75vh;
  width: 90vw;
  border-radius: 3em;
  /* padding-top: 5em; */

  overflow: hidden;
  box-sizing: border-box;
}

h1 {
  padding: 0 3rem;
  margin-top: .5em;
  font-size: 5em;
}

.location {
  padding: 0 3rem;
}

.location label {
  display: block;
}

.location input {
  padding: 1rem;
  border: none;
  border-radius: 0.3rem 0 0 0.9rem;
  outline: none;
  font-size: 1.5rem;
}

.location button {
  padding: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0 0.9rem 0.3rem 0;
  font-size: 1.5rem;
}

.forecast {
  display: flex;
  flex-wrap: wrap;
}

.currentInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10vh;
  margin: 2rem 2rem;
  font-size: 1.8rem;
}

.currentInfo p {
  text-align: center;
  width: 10vh;
  }

.currentInfo .temp {
  font-weight: bold;
}

img {
  width: 80%;
  height: 80%;
}



/* Responsive styles */

@media (max-height: 930px) {
  .currentInfo {
    font-size: 1.2rem;
  }
}


@media (max-width: 540px) {
  ::placeholder {
    
    font-size: 1.1rem; /* Change to your desired font size */
    /* Add any other styles you want to apply */
  }
  
  .container {
    
    height: 95vh;
    width: 45vh;
    border-radius: 1.5rem;
    padding-top: 2rem;
  }
  
  h1 {
    padding: 0;
    margin: 0.2em 0.4em 0.3em 0.4em;
    font-size: 4em;
    /* text-align: center; */
  }
  
  .location {
    padding-left: 2em;
  }
  
  .location label {
    display: block;
  }
  
  .location input {
    padding: 0.5em;
    margin: 1em 0;
    border: none;
    border-radius: 0.3rem 0 0 0.9rem;
    outline: none;
    font-size: 1.2rem;
    max-width: 50%;
  }
  
  .location button {
    padding: 0.5em;
    margin: 1em 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 0.9rem 0.3rem 0;
    font-size: 1.2rem;
  }
  
  .forecast {
    display: flex;
    flex-wrap: wrap;
  }
  
  .currentInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10vh;
    margin: .9rem 1.3rem;
    font-size: 1.3rem;
  }
  
  .currentInfo p {
    text-align: center;
    width: 10vh;
    }
  
  .currentInfo .temp {
    font-weight: bold;
  }
  
  img {
    width: 80%;
    height: 80%;
  }

}